.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 50px;
  color: cyan;
}
.inventory {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: cyan;
  height: 80px;
}
.productslist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
