/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
} */

/* .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  margin-bottom: none;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 62vh;
  width: 50vw;
  border: 1px solid white;
  display: flex; /* flexbox */
  flex-direction: row;
}
.title {
  font-size: 70px;
  font-weight: 600;
  position: relative;
  background: linear-gradient(65deg, #29235b 0%, #301e67 51%, #5b8fb9 85%);
  background-clip: text;

  -webkit-background-clip: text;
  margin-top: 5px;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #227c70;
}

.inventory {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 19px;
  font-size: 1.2rem;
}
.card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2rem;
}

.addbutton {
  background-color: #61876e;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.addbutton:hover {
  background-color: #3c6255;
  color: rgb(245, 233, 233);
}
.removebutton {
  background-color: rgb(129, 9, 9);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.removebutton:hover {
  background-color: rgb(93, 6, 6);
  color: rgb(245, 233, 233);
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 20px;
}
.grid > div {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  height: 420px;
  line-height: 10px;
  margin-bottom: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 0px;
}
.grid > div:nth-child(1) {
  background: transparent;
  text-transform: 0.5;
}
.grid > div:nth-child(2) {
  background: transparent;
  text-transform: 0.5;
} */

@media screen and (min-width: 200px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100vw;
  }
}

@media screen and (min-width: 720px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
  }
}
