html,
body {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  color: #ffffff;
  background-color: rgb(17, 16, 16);
  font-family: "Roboto", sans-serif;
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #03001c 0%, #301e67 51%, #5b8fb9 85%);
}
