.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-bottom: 100px;
}

.background img {
  display: flex;
  width: 1200px;
  height: 700px;
  position: absolute;
  border-radius: 20px;
  margin-top: 77px;
  position: relative;
  margin-left: 1px;
  margin-right: 10px;
}
