.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 50px;
  color: cyan;
}
.inventory {
  border: 1px solid cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: cyan;
  height: 80px;
}
.ul {
  list-style-type: none;
  font-size: large;
}
.li {
  list-style-type: none;
  font-size: large;
}
.button {
  font-size: large;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 16, 16);
}
.button:hover {
  background-color: rgb(17, 16, 16);
  color: rgb(255, 255, 255);
}
