.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  overflow: hidden;
  margin-bottom: none;
}
.title {
  font-size: 90px;
  font-weight: 600;
  position: relative;
  background: -webkit-linear-gradient(#3c6255, #227c70);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #227c70;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 600px;
  height: 200px;
  font-size: 1.2rem;
}

.addbutton {
  background-color: #61876e;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.addbutton:hover {
  background-color: #3c6255;
  color: rgb(245, 233, 233);
}
.removebutton {
  background-color: rgb(129, 9, 9);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}
.removebutton:hover {
  background-color: rgb(93, 6, 6);
  color: rgb(245, 233, 233);
}

.card {
  height: 50%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  display: flex;
  flex-direction: column;
  line-height: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}
.grid > div {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  height: 420px;
  line-height: 10px;
  margin-bottom: 20px;
}
.grid > div:nth-child(1) {
  background: transparent;
  text-transform: 0.5;
}
.grid > div:nth-child(2) {
  background: transparent;
  text-transform: 0.5;
}

@media screen and (min-width: 400px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;
  }
}
